.dialogListItem {
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: rgb(170, 170, 170);
}
.link:hover {
    opacity: 0.5;
}

.active {
    color: white;
    text-decoration: none;
}

.friend {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.img {
    border-radius: 50%;

    margin-right: 5px;
}

.span:hover {
    opacity: 0.5;
}
