.wrapper {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-content);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.photo {
    border-radius: 50%;
}