h2 {
    margin: 0;
}

.wrapper {
    color: var(--font-grey);
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.photoWrapper {
    margin-top: 20px;
    margin-left: 20px;
}

.about {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.idDiv {

    display: flex;
    justify-content: space-between;
}

.jobDiv {
    display: flex;
    justify-content: space-between;
}

.aboutDiv {
    display: flex;
    justify-content: space-between;
}

.idSpan {
    color: var(--font-grey-disactive);
    margin-right: 10px;
}

.div {
    margin-top: 10px;
}

.status {
    margin-bottom: 20px;
}

.socialDiv {
    width: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.contactsSpan {
    color: var(--font-grey-disactive);
}