.dialogs {
    display: flex;
    color: var(--font-grey);
}

.dialogList {
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.messages {
    margin-top: 20px;
    margin-left: 20px;
}
