@import url(./Variables.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.App {
  margin: 0 auto;
  max-width: 980px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  font-family: "Open Sans", sans-serif;
}

.App__main {
  grid-area: c;
  border-radius: 3px;
}

.active {
  color: var(--font-grey);
}

@media (max-width: 600px) {
  .App {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .App__main {
    margin-top: 60px;
  }
}